# macOS
**/.DS_Store

# Xcode
Bitkit.xcodeproj/project.xcworkspace/xcuserdata/
Bitkit.xcodeproj/xcuserdata/
build

# Node
scripts/node_modules/

# Transifex
tx

# Sweetpad
buildServer.json

# IntelliJ IDEs
.idea

# VSCode
.vscode/
