# macOS
**/.DS_Store

# Xcode
Bitkit.xcodeproj/project.xcworkspace/xcuserdata/
Bitkit.xcodeproj/xcuserdata/

# Node
scripts/node_modules/

# Transaction
tx

# Sweetpad
buildServer.json

# VSCode
.vscode/
