# format options

--header strip
--maxwidth 150
--stripunusedargs closure-only
--swiftversion 5.10

# rules

--disable andOperator
--disable consistentSwitchCaseSpacing
--disable redundantReturn
--enable isEmpty
