<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bitkit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BitkitNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>961058DB2C355B5500E1F1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE1F602C2DE6AA006D0C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE1F712C2DE6AC006D0C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE1F7B2C2DE6AC006D0C8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
